@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    overflow: hidden;
}

.App {
  
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows:1fr 11fr;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.MainContainer {
  display: grid;
  grid-template-columns: 20% 80%;
}
.WindowWrapper {
  width:100%;
  height: 100%;
  background-color: aqua;
  background-image: url(/public/Background.jpeg);
  background-size: cover;
}
