@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    overflow: hidden;
}
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/pressstart2p/v9/e3t4euO8T-267oIAQAu6jDQyK3nYivN04w.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
.App {
  
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows:1.1fr 11fr;
  font-family: 'Press Start 2P'; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.MainContainer {
  display: grid;
  grid-template-columns: 325px 1fr;
}
.WindowWrapper {
  width:100%;
  height: 100%;
  background-color: aqua;
  background-image: url(/public/Background.jpeg);
  background-size: cover;
}

.AuthPage{
  max-width: 600px;
}