.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.1s;
}
.bg-active {
  visibility: visible;
  opacity: 1;
}
.BigModal {
  position: relative;
  background-color: #c5b6d8;
  width: 70%;
  height: 70%;
  border: 5px solid black;
  display: grid;
  grid-template-rows: 1fr 5fr;
}
.ModalHeader {
  font-size: 28px;
  color: rgb(27, 27, 27);
}
.ModalDivider {
  display: grid;
  grid-template-columns: 45% 55%;
}
.PiChart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-right:2vw;
}
.SmallModal {
  position: relative;
  background-color: #c5b6d8;
  width: 50%;
  height: 70%;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  display: grid;
  grid-template-rows: 1fr 4fr;
  z-index: 5;
 
}
canvas{
  height:100%;
  width: 100%;
  margin-right:2vw;
  margin-bottom:3vh;
  padding:2vh
}
.modal-close {
  position: absolute;
  top: 2vh;
  right: 2vh;
  
  color: rgb(237, 207, 251);
  cursor: pointer;
  border-radius: 50px;
  background: -moz-linear-gradient(45deg, rgb(140, 0, 255), rgb(0, 119, 255));
  background: -webkit-linear-gradient(
    45deg,
    rgb(153, 0, 255),
    rgb(196, 148, 236)
  );
  border: 2px solid rgb(5, 5, 5);
  font-family: monospace;
  width: 4vh;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  font-size: 3vh;
}
.modal-close:hover{
  background-color: #747cc5;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.BigModalForm {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #c5b6d8;
  color: black;
  border-radius: 3vh;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
hr {
  border: 2px solid #222;
  opacity: 75;
  margin-right: 6vw;
}
.Trash:hover {
  fill: blue;
  color: blue;
  background-color: rgba(255, 255, 255, 0.3);
}
li {
  margin: 1.5vh 0;
}

li {
  margin: 2vh 0;
}
.AllExpenseWrapper {
  width: 90%;
  padding-left: 10%;
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}
#ViewExpenseWrapper {
  width: 100%;
  height: 100%;
  padding-left: 0;
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}
.AllExpenseWrapper::-webkit-scrollbar {
  width: 19px;
}
.AllExpenseWrapper::-webkit-scrollbar-track {
  background: rgba(234, 221, 251, 0.5);
  border-radius: 20px;
  /* color of the tracking area */
}
.AllExpenseWrapper::-webkit-scrollbar-thumb {
  background-color: rgba(202, 174, 238, 0.7); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 2px solid rgba(59, 59, 59, 0.8); /* creates padding around scroll thumb */
}
.ModalInput {
  width: 70%;
  border-radius: 0;
  border: 2px solid #222;
  height: 5vh;
  margin-left: 2vw;
  color: #222;
}
.submit {
  font-size: 20px;
  padding: 10px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-family: "Press Start 2P";
}

td {
  height: 5vh;
  text-align: left;
  padding: 8px;
}
th {
  border-bottom: 2px solid #222;
  text-align: left;
  padding: 8px;
  font-size: 20px;
}
th:nth-child(2) {
  border-right: 3px solid #222;
  border-left: 3px solid #222;
}
td:nth-child(2) {
  border-right: 3px solid #222;
  border-left: 3px solid #222;
}
label {
  font-size: 20px;
}
.CatLinks {
  margin-left: 15px;
}
.CatLinks:hover {
  color: blue;
  background-color: rgba(255, 255, 255, 0.3);
}
.ManageLeftWrapper{
  height: 100%;
}
.listItems {
  display: flex;
  align-items: center;
}
.ListWrapper {
  max-height:70%;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}
.ListWrapper::-webkit-scrollbar {
  width: 19px;
}
.ListWrapper::-webkit-scrollbar-track {
  background: rgba(234, 221, 251, 0.5);
  border-radius: 20px;
  /* color of the tracking area */
}
.ListWrapper::-webkit-scrollbar-thumb {
  background-color: rgba(202, 174, 238, 0.7); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 2px solid rgba(59, 59, 59, 0.8); /* creates padding around scroll thumb */
}